/* div{
    background-color:red;
} */
header{
    display:inline;
}
header>img{
    width: 500px;
    height:300px;
    display: inline;
}

.formatStart{
    margin-left:130px;
}

p{
    border-color:black;
    border:1px;
    border-width:2px;
    border-style:solid;
    margin-right:0px;
    padding:5px;
    word-wrap:normal;
}

.rightSide{
    float:right;
}
.leftSide{
    float:left;
}